{% extends 'nutrition/base.html' %}
{% block content %}
<h1>About</h1>
  <h2>How to use Macrocosmos</h2>
  <div id="about">
     <div id="about-general">
       <h3>Track macros, not calories</h3>
       We track macros, not calories! While calories are displayed, there are calculated after you provide all macros from your meal. The reason is too many people only count calories without tracking their macros - but nowadays we know - 1000 calories of carbohydrates are not the same as 1000 calories of protein. Therefore Macrocosmos aims to educate through putting emphasis on tracking macros.
       <h3>Keep track of Cheat meals</h3>
       Whenever you binge or indulge into that sweet summer ice cream, you can record your cheat meal to relive the shame of eating it anytime! While carbohydrate amounts over 20g are displayed in red (to match a ketogenic diet), cheat meals are designated individually.
     </div>
     <div id="about-home">
      <h3>Home - Index page</h3>
       You will be greeted with up to 10 of your last registered meals. Additionally, you can register new meals using the form under the table. Fill in all the macros (calories will be calculated), shortly describe the meal (e.g. 'Spare Ribs'), fill in an anecdote if it was a special meal and you can even upload a picture of your meal if you wish to drift away in nostalgia staring at your delicious Wagyu steak from last month. Click on any meal's date or picture to see it in full glory. You can also rotate pictures then.
     </div>
     <div id="about-journal">
       <h3>Journal</h3>
       The Journal displays all your registered meals. Of course there is a filter function, so play around with it. The Journal will also tell you your total and average macros for the specified period, as well as the number of cheat meals. Of course you can also access each registered meal specifically to read your anecdote.
     </div>
    <div id="about-keto">
      <h3>Recommended diet - design approach</h3>
      Macrocosmos' approach to a healthy lifestyle and diet is a low-carb, ketogenic diet or even a carnivore diet. That's why excessive carbohydrate amounts are displayed in red in the macronutrient tables. This web app is a tool to track your macros in a clean and efficient way. If you wish to learn more about the ketogenic diet or nutrition in general, there are many videos or articles about this diet.
      Nutrition is a big field of health that is oftentimes misunderstood. The ketogenic diet is only Macrocosmos' recommendation, but feel free to use it to help you with your personal diet.
    </div>
  </div>


{% endblock %}
